*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    background-color: #d1d1d1;
    font-family: Arial, sans-serif;
    flex-direction: column; 
    display: flex;

    
}
h1{
    background-color: #333;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.cp{
    height: 200px;
    width: 200px;
    background-color: #fffdfd;
    color: rgb(241, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;    
    border: #333 2px solid;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    
}
.computer-output{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    text-align: center;
    width: 100%;
    margin: 50px auto 0;
}   
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
    
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    transition: background-color 0.3s ease;
    width: 100px    ;
    height: 80px;
}
#stone{
    background-color: #ff4d4d;
}
#paper{
    background-color: #4d94ff;
}
#scissor{
    background-color: #4dff4d;
}
button:hover{
    background-color: #555;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    gap: 50px;
}
.resultcp{
    background-color: #787575;
    padding: 10px 20px;
    border: #333 2px solid;
    border-radius: 5px;
}
